.navbar img {
	height: 250%;
}

#relatorios {
	font-size: 2.0em;
	padding-top: 30px;
}

.navbar {
	height: 80px;
}

footer {
	clear: both;
	bottom: 0;
}

.panel { 
	text-align: justify;
 }

 .table {
    border-radius: 5px;
    width: 50%;
    margin: 0 auto;
    float: none;
}

td.tabela-negrito {
	font-weight: bold;
}

/*
.googleVisualizationApiChartDivExterna {
	min-height:500px;
	height: 100%;
	width: 100%;
	margin:auto;
	background:#fff;
	text-align:center;
}

.googleVisualizationApiChartDivInterna {
	min-height:500px;
	height: 100%;
	width: 100%;
	margin:auto;
	background:#fff;
	text-align:center;
}*/