.navbar img {
	height: 250%;
}

* {
  border-radius: 2px !important;
}

#relatorios {
	font-size: 2.0em;
	padding-top: 30px;
}

.navbar {
	height: 80px;
}

.texto-informativo {
	color: #fff;
	font-size: 8px;
}

/*
footer {
	clear: both;
	bottom: 0;
	position: absolute;
	background-color: black;
}*/

canvas {
  display: none;
}

footer {
  clear: both;
  width:100%;
  bottom:0;
  left:0;
  background-color:blue;
}

.panel {
	text-align: justify;
 }

 .table {
    border-radius: 5px;
    width: 50%;
    margin: 0 auto;
    float: none;
}

td.tabela-negrito {
	font-weight: bold;
}

#container-geral {
  padding-bottom: 10px;
}

#container-geral div canvas {
	display: none;
}

#container-geral div div {
	display: none;
}

#container-geral div table {
	display: none;
}

.text-center {
	text-align: left;
}

h3 {
	text-align: left;
	cursor: pointer;
}

.h3-normal {
	text-align: left;
	cursor: auto !important;
}

.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 )
                url('http://i.stack.imgur.com/FhHRx.gif')
                50% 50%
                no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal {
    display: block;
}
