#footer-brasil {
   background: none repeat scroll 0% 0% #0042b1;
   padding: 1em 0px;
   max-width: 100%;
}

* {
  border-radius: 2px !important;
}


/*
.navbar .divider-vertical {
    height: 10px;
    margin: 0 9px;
    border-right: 1px solid #ffffff;
    border-left: 1px solid #f2f2f2;
}

.navbar-inverse .divider-vertical {
    border-right-color: #222222;
    border-left-color: #111111;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: black;
    color: black;
}*/

@media (max-width: 767px) {
    .navbar-collapse .nav > .divider-vertical {
        display: none;
     }
}

@media (max-width: 978px) {
  .footer-index {
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

.panel {
	text-align: justify;
 }

 .table {
    border-radius: 5px;
    width: 50%;
    margin: 0 auto;
    float: none;
}


/* Botão de loading */
/*
.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 )
                url('http://i.stack.imgur.com/FhHRx.gif')
                50% 50%
                no-repeat;
}*/

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
/*body.loading {
    overflow: hidden;
}*/

/* Anytime the body has the loading class, our
   modal element will be visible */
/*body.loading .modal {
    display: block;
}*/
